body{
font-family:Arial;
background:#1e1e1e;
color:white;
text-align:center;
}
.login-card{margin-top:150px;}
input{padding:10px;margin:5px;}
button{padding:10px 20px;margin:5px;cursor:pointer;}
table{margin:auto;margin-top:20px;border-collapse:collapse;}
th,td{border:1px solid white;padding:10px;}
