body{
background-image:url("background.jpg");
background-size:cover;
background-position:center;
font-family:Arial;
color:white;
text-align:center;
margin:0;
}

.panel{
background:rgba(0,0,0,0.85);
padding:30px;
margin:50px auto;
width:500px;
border-radius:10px;
}

input,button{
padding:10px;
margin:5px;
}

audio{
width:90%;
margin:10px;
}

#adminpanel,#memberpanel{
display:none;
}

#chatbox{
height:150px;
overflow:auto;
background:black;
padding:10px;
}
