
body{
font-family:Arial, Helvetica, sans-serif;
background-image:url("background.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
background-attachment:fixed;
color:white;
margin:0;
padding:0;
}

header{
background:#111;
padding:15px;
display:flex;
align-items:center;
gap:20px;
}

nav a{
margin-right:10px;
cursor:pointer;
color:#00c3ff;
font-weight:bold;
}

.card{
width:300px;
margin:100px auto;
padding:20px;
background:#2b2b2b;
border-radius:8px;
display:flex;
flex-direction:column;
gap:10px;
}

.section{
padding:20px;
}

input,select{
padding:6px;
}

button{
padding:6px 12px;
cursor:pointer;
}

.secondary{
background:#444;
color:white;
border:none;
}

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

td,th{
border:1px solid #444;
padding:8px;
text-align:left;
}

.overdue{
color:red;
font-weight:bold;
}

.formRow{
display:flex;
gap:10px;
flex-wrap:wrap;
margin-bottom:10px;
}
